<form
    hx-put="{% url 'update_todo' todo.id %}"
    hx-target="this"
    hx-swap="outerHTML" >

    <article class="flex{% if todo.is_done%} bg-green-50{% endif %}">

        <div class="w-4/5 py-3">
            <p class="px-6 text-xs text-gray-900">{{ todo.title }}</p>
        </div>

        <div class="w-1/5 px-6 py-3 flex justify-end space-x-4">

            {% if not todo.is_done %}
                <button href="#" class="text-sky-600 hover:text-sky-900">
                    Done
                </button>
            {% endif %}

            <!--
            hx-target="closest form"
                => removes the closest form from the DOM
            hx-swap="outerHTML swap:1s"
                => removes all of the html for the form
                => the operation will take 1 second
            hx-confirm="Are you sure?"
                => Shows a confirmation dialog
            -->
            <a  href="#"
                class="text-sky-600 hover:text-sky-900"
                hx-confirm="Are you sure?"
                hx-target="closest form"
                hx-swap="outerHTML swap:500ms"
                hx-delete="{% url 'delete_todo' todo.id %}" >
                Delete
            </a>

        </div>

    </article>

</form>
