<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List</title>
    </head>

    <!--
    Can add the hx-headers line below to add the CSRF token globally.
    Also possible to use the script in the comment at the base of the page.
     -->
    <body
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        class="bg-sky-500"
        >

        <!-- Title bar -->
        <nav class="flex items-center justify-between px-4 py-6 text-center bg-gradient-to-r from-cyan-500 to-sky-500">
            <a href="/" class="text-2xl text-white">Tailwind Todo</a>
        </nav>

        <!-- Todo box -->
        <div class="w-4/5 my-6 mx-auto p-2 lg:p-10 bg-white rounded-xl">

            <!-- Form to add a new todo (single text input field and button) -->
            <!--
            hx-post="{% url 'add_todo' %}" sends a post request to the url.
            hx-target="#todo" instructs where the result should be inserted.
                "#todo" indicates the element with id="todos" below.
            hx-swap="afterend" instructs the new element to be appended.
            -->
            <form
                class="flex mb-6 space-x-4"
                hx-post="{% url 'add_todo' %}"
                hx-target="#todos"
                hx-swap="afterend"
            >
                <input type="text" name="title" class="title flex-1 px-4 py-3 bg-gray-200 rounded-xl" placeholder="The title">
                <button class="p-3 rounded-xl text-white bg-cyan-500 hover:bg-cyan-600">+</button>
            </form>

            <!-- Headings above displayed todo items -->
            <div class="flex py-3 rounded-xl bg-gray-100">
                <div class="w-4/5">
                    <p class="px-6 text-xs font-medium text-gray-500 uppercase">Title</p>
                </div>
                <div class="hidden md:block w-1/5 px-6 text-right">
                    <p class="text-xs font-medium text-gray-500 uppercase">Actions</p>
                </div>
            </div>

            <!-- List of todo items -->
            <div class="divide-y divide-gray-200" id="todos">
                {% for todo in todos %}
                    {% include 'todo/partials/todo.html' %}
                {% endfor %}
            </div>

        </div>

    </body>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>

    <!--
    The script below can add a CSRF token to the header of the request
    when a request is made using HTMX. This is an alternative to the
    hx-headers attribute in the body tag at the top of this page.

        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });

    The script below resets the form when a form is submitted. This resets the
    input title back to an empty string after a request is made. Without this
    script, the todo input that is previously input remains in the input field.
    -->
    <script>
        document.body.addEventListener('htmx:afterRequest', (event) => {
            document.querySelector('input.title').value = '';
        });
    </script>

</html>
